.section {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;;
}

.about {
  background-color: #f9f9f9;
}

.resume {
  background-color: #e6e6e6;
}

.videos {
  background-color: #dcdcdc;
}

.contact {
  background-color: #cccccc;
}

/* .homepage-image {
  background: url('') center/cover no repeat;
  min-height: 100vh;
} */
