.image-carousel {
    width: 350px;
    height: 400px;
    overflow: hidden;
    border-radius: 2px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(167, 88, 210) /* Optional: to fill in any gaps */
  }
  
  .carousel-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
